<div class="container-fluid">
	<!-- AddInfo popup -->
	<div ng-include="'../views/addInfo.html'"></div>
	<!-- Menu bar -->
	<div class="offset-2 offset-sm-7 offset-md-8 offset-lg-9">
		<div class="row">
			<div class="col-5 col-sm-7 menu" data-toggle="modal" data-target="#showAddInfo">Lägg till</div>
			<a href="#!" class="col-4 col-sm-4 menu">Hem</a>
		</div>
	</div>
	<!-- About text -->
	<div class="about offset-1 col-10 offset-md-2 col-md-8">
		Letar du också ständigt efter segment i poddar du bara måste höra igen? Den där diskussionen du bara måste visa en kompis? Nu är den här, <b>poddsök.nu</b>! Här kan du söka på ett <i>ord</i> eller en <i>mening</i> i en podcast och sim salabim, du blir serverad med avsnitt och vilken minut. Fantastiskt va?
		<br/><br/>
		Poddsök.nu byggs upp av sina användare. Det är ni som lägger till information i avsnitten för att fylla biblioteket. Vill du börja redan nu? Klicka <u><a data-toggle="modal" data-target="#showAddInfo">här</a></u>! Tillsammans skapar vi det vi alla saknat.
		<br/><br/>
		Jag som skapat poddsök.nu heter William. Det är ett hobbyprojekt där jag kombinerat två av mina intressen - programmering och podcasts. Har du någon fråga? Skicka ett <u><a href="mailto:kontakt@poddsok.nu" >mail</a></u>.
		<div class="row">
			<img class="about-img mx-auto d-block" src="resources/images/william.png" />
		</div>
		<!-- Social media buttons -->
		<div class="row offset-2">
			<!-- Facebook -->
			<a class="fb-ic mr-3 col-3 about-icon" href="https://www.facebook.com/will.i.am1337" target="_blank" role="button">
				<i class="fab fa-lg fa-facebook-f"></i>
			</a>
			<!--Linkedin-->
			<a class="li-ic mr-3 col-3 about-icon" href="https://www.linkedin.com/in/william-friefeldt-556932175/" target="_blank" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
			<!--Instagram-->
			<a class="ins-ic mr-3 col-3 about-icon" href="https://www.instagram.com/williamfriefeldt/" target="_blank" role="button"><i class="fab fa-lg fa-instagram"></i></a>
		</div>
	</div>
</div>
